# Large Models & AI Data
backend/app/models

# Project documents
docs
Project submissions and presentations

# Python & FastAPI
__pycache__/
*.py[cod]
backend/.venv/
.venv/
venv/
.env

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
dist/

# IDEs & System Files
.idea/
*.iml
.DS_Store

# Databases
*.db
*.sqlite3